<%= form_with(model: produto, local: true) do |form| %>
  <% if produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
      <% produto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>    
  <fieldset class="form-group">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :produto_nome, class: 'form-control' %>
  </fieldset>

  <fieldset class="form-group">
    <%= form.label :marca %>
    <%= form.text_field :marca, id: :produto_marca, class: 'form-control'%>
  </fieldset>

  <fieldset class="form-group">
    <%= form.label :quantidade %>
    <%= form.number_field :quantidade, id: :produto_quantidade, class: 'form-control' %>
  </fieldset>

  <div class="actions">
    <%= form.submit "Pronto!", class: 'btn btn-primary' %>
  </div>
<% end %>
