<div class="container">  
  <h1 class="text-center">Produtos</h1>
  <br>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Marca</th>
        <th scope="col">Quantidade</th>   
        <th scope="col">Ação</th>
        <th scope="col">Ação</th>         
      </tr>
    </thead>

    <tbody>
      <% @produtos.each do |produto| %>
        <tr>
          <td><b><%= produto.nome %></b></td>
          <td><b><%= produto.marca %></b></td>
          <td><b><%= produto.quantidade %></b></td>        
          <td><%= link_to '<button type="button" class="btn btn-success">Editar</button>'.html_safe, edit_produto_path(produto) %></td>
          <td><%= link_to '<button type="button" class="btn btn-danger">Excluir</button>'.html_safe, produto, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <td><%= link_to '<button type="button" class="btn btn-primary">Novo Produto</button>'.html_safe, new_produto_path %></td>
</div>



